# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Environments
# ======================
venv/
.venv/
env/
ENV/

# Windows Python venv artifacts
Lib/
Scripts/
pyvenv.cfg

# ======================
# Environment variables
# ======================
.env

# ======================
# OS files
# ======================
Thumbs.db
.DS_Store

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log

# ======================
# Build / Cache
# ======================
build/
dist/
.eggs/
*.egg-info/
